<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.segema.system.domain.vo.SysGroupUserVo">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>

	<resultMap id="BaseResultMap" type="cn.segema.system.domain.vo.SysGroupUserVo">
		<id column="groupid" property="groupId" jdbcType="VARCHAR" />
		<result column="groupname" property="groupName" jdbcType="VARCHAR" />
		<result column="groupstatus" property="groupStatus" jdbcType="INTEGER"/>
		<result column="userid" property="userId" jdbcType="VARCHAR" />
		<result column="loginname" property="loginName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="nickname" property="nickName" jdbcType="VARCHAR" />
		<result column="mobilenumber" property="mobileNumber" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="bornaddress" property="bornAddress" jdbcType="VARCHAR" />
		<result column="borndate" property="bornDate" jdbcType="DATE" />
		<result column="weight" property="weight" jdbcType="DECIMAL" />
		<result column="height" property="height" jdbcType="DECIMAL" />
		<result column="bloodtype" property="bloodType" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		groupid as groupId,
		groupname as groupName,
		groupstatus as groupStatus, 
		userid as userId,
		loginname as loginName,
		password as password,
		nickname as nickName,
		mobilenumber as mobileNumber,
		gender as gender,
		bornaddress as bornAddress,
		borndate as bornDate,
		weight as weight,
		height as height,
		bloodtype as bloodType,
		email as email, 
		address as address
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="groupId != null"> and groupId = #{groupId}</if>
				<if test="groupName != null">and groupName = #{groupName}</if>
				<if test="groupStatus != null">and groupStatus = #{groupStatus}</if>
				<if test="userId != null"> and userid = #{userId}</if>
				<if test="loginName != null">and loginname = #{loginName}</if>
				<if test="password != null">and password = #{password}</if>
				<if test="nickName != null">and nickname = #{nickName}</if>
				<if test="mobileNumber != null">and mobilenumber = #{mobileNumber}</if>
				<if test="gender != null">and gender = #{gender}</if>
				<if test="bornAddress != null">and bornaddress = #{bornAddress}</if>
				<if test="bornDate != null">and borndate = #{bornDate}</if>
				<if test="weight != null">and weight = #{weight}</if>
				<if test="height != null">and height = #{height}</if>
				<if test="bloodType != null">and bloodtype = #{bloodType}</if>
				<if test="email != null">and email = #{email}</if>
				<if test="address != null">and address = #{address}</if>
				
				<!-- 模糊查询 -->
				<if test="nickNameLike != null">and nickname like CONCAT("%",#{nickNameLike},"%")</if>
				<!-- 模糊查询 -->
				<if test="groupNameLike != null">and groupname like CONCAT("%",#{groupNameLike},"%")</if>
				
				and sys_user.groupid = sys_group.groupid
			</trim>
		</where>
		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>

	<!-- 测试查询 -->
	<select id="selectGroupUser" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			a.groupid AS groupId,
			groupname AS groupName,
			groupstatus AS groupStatus,
			userid AS userId,
			loginname AS loginName,
			password AS password,
			nickname AS nickName,
			mobilenumber AS mobileNumber,
			gender AS gender,
			bornaddress AS bornAddress,
			borndate AS bornDate,
			weight AS weight,
			height AS height,
			bloodtype AS bloodType,
			email AS email,
			address AS address
		from sys_group a,sys_user b
		where a.groupid = b.groupid
		<!-- 模糊查询 -->
		<if test="nickNameLike != null">and nickname like CONCAT("%",#{nickNameLike},"%")</if>
		<!-- 模糊查询 -->
		<if test="groupNameLike != null">and groupname like CONCAT("%",#{groupNameLike},"%")</if>
	</select>
	
</mapper>