<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.segema.system.domain.SysGroup">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>
	
	<resultMap id="BaseResultMap" type="cn.segema.system.domain.vo.SysGroupVo">
		<id column="groupid" property="groupId" jdbcType="VARCHAR" />
		<result column="groupname" property="groupName" jdbcType="VARCHAR" />
		<result column="groupstatus" property="groupStatus" jdbcType="INTEGER"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		groupid as groupId,
		groupname as groupName,
		groupstatus as groupStatus, 
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="groupId != null"> and groupId = #{groupId}</if>
				<if test="groupName != null">and groupName = #{groupName}</if>
				<if test="groupStatus != null">and groupStatus = #{groupStatus}</if>
				
				<!-- 模糊查询 -->
				<if test="groupNameLike != null">and groupname like CONCAT("%",#{groupNameLike},"%")</if>
			</trim>
		</where>
		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(groupId)
		from sys_group
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_group
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_group
		where groupid = #{groupId}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from sys_group
		where groupid = #{groupId}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_group
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="cn.segema.system.domain.SysGroup">
		insert into sys_group(
			groupid, 
			groupname, 
			groupstatus
		)
		values (
			#{groupId}, 
			#{groupName},
			#{groupStatus}
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="cn.segema.system.domain.SysGroup">
		update sys_group
		<set>
			<if test="groupName != null">groupname = #{groupName},</if>
			<if test="groupStatus != null">groupstatus = #{groupStatus},</if>
		</set>
		where groupid = #{groupId}
	</update>
	
	<update id="updateById" parameterType="cn.segema.system.domain.SysGroup">
		update sys_group
		set groupname = #{groupName},
		groupstatus = #{groupStatus}
		where groupid = #{groupId}
	</update>
	
	<!-- 测试查询 -->
	<select id="testSelectList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_group
		<include refid="Base_Where_Clause" />
	</select>
	
</mapper>